{% load static %}
{% include 'index.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css %}
    <link rel="stylesheet" href="{% static 'css/style6.css' %}">
    {% endblock css %}

    {% block title %}
    <title>Room Booking</title>
    {% endblock title %}

<body>
    <h1>Book Room</h1>
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="room_id" value="{{ room.id }}">
        <label for="check_in_date">Check-in Date:</label>
        <input type="date" id="check_in_date" name="check_in_date" required><br><br>
        
        <label for="check_out_date">Check-out Date:</label>
        <input type="date" id="check_out_date" name="check_out_date" required><br><br>
        
        <input type="submit" value="Book Room">
    </form>
    <footer>
        <div class="foot">
            <p class="foot">&copy; 2023 HotelX. All rights reserved</p>
        </div> 
        </footer>
</body>
</html>
